.project-card-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 40px 0px;
   justify-content: center;
   align-items: stretch;
}

.project-card {
   min-height: -moz-fit-content;
   min-height: fit-content;
   background: var(--project-card-background-color);
   color: var(--font-color);
   box-shadow: 1px 1px 5px rgb(0 0 0  / 25%);
   border-radius: var(--border-radius);
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: flex-start;
   margin: 20px;
   width: 26rem;
   height: auto;
   text-align: left;
   transition: var(--transition);
}

.project-card:hover {
   transform: scale(1.02);
   box-shadow: 1px 1px 5px rgb(0 0 0  / 25%);
}

.image-container {
   width: 100%;
   height: auto;
}

.project-image {
   display: block;
   border-radius: 0.5rem 0.5rem  0px 0px;
   width: 100%;
   height: 214px;
   transition: var(--transition);
   /* object-fit: cover; */
}

.project-details{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 225px;
   word-spacing: 2px;
}

.project-detail-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding:0 10px;
   text-align: left;
}

/* .project-heading {
   margin: 0px;
   padding: 5px 8px;
} */

.project-detail {
   font-weight: 400;
   color: var(--paragraph-font-color);
   margin: 0%;
}
.project-heading{
   font-size: 1.5rem;
   font-weight: 500;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding-bottom: 10px;
   justify-content: space-between;
}

.demo,.code {
   padding: 6px 12px;
   background: none;
   border-radius: var(--border-radius);
   margin: 4px 10px;
   color: var(--btn-font-color);
   background: var(--btn-background-color);
   font-weight: 400;
   border: none;
   font-size: 1rem;
}

.demo:hover,.code:hover {
   cursor: pointer;
   background: none;
   color: var(--font-color);
   font-weight: 400;
   transition: all 0.5s;
   border: 1px solid;
}

@media only screen and (max-width: 970px) {
   .project-card-container {
      padding: 20px;
   }

   .project-card {
      width: 350px;
      min-height: fit-content;
   }
}
@media only screen and (max-width: 820px) {
   .project-details{
      height: auto;
   }
   .buttons{
      padding: 10px 0px;
   }
   
}

@media only screen and (max-width: 400px) {
   .project-card-container {
      padding: 20px;
   }
   .project-image{
      height: auto;
   }
   .project-card {
      width: 227px;
      min-height: fit-content;
   }
}
