.project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    align-self: center;
    justify-content: center;
}

.project-card {
    width: 400px;
    min-height: fit-content;
    background: #fff;
    color: #420a7a;
    box-shadow: 5px 10px 15px rgb(228 234 246 / 25%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.project-card:hover {
    box-shadow: 0px 40px 50px;
    transition: all 0.3s;
}

.image-container {
    width: 100%;
    border-radius: 20px 20px 0px 0px;


}

.project-image {
    display: block;
    border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.project-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 20px;
}

.project-heading {
    margin: 0px;
    /* padding: 8px 0px 0px 8px; */
}

.project-details {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #7d7987;

}


@media only screen and (max-width:970px) {
    .project-card-container {
        padding: 20px;
    }

    .project-card {
        width: 350px;
        min-height: fit-content;
    }

}

@media only screen and (max-width:400px) {
    .project-card-container {
        padding: 20px;
    }

    .project-card {
        width: 300px;
        min-height: fit-content;
    }

}