.toggle-theme-wrapper {
    flex-direction: row;
    float: right;
    position: fixed;
    width: 30px;
    height: 20px;
    right: 1rem;
    top: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}


.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 34px;
    height: 10px;
    background-color: var(--btn-background-color);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    transform: scale(1.5);
    z-index: 1;
    opacity: 2.2;
    content: " ";
    right: 6px;

  }
  
  .ball {
    width: 17px;
    height: 16px;
    background-color: #1e2755;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .toggle-theme {
    color: yellow;
    font-size: 12px;

  }
  .toggle-theme > span{
    color: pink;
    font-size: 12px;
    margin: 1px;
  }