.footer-link{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
}
[data-theme="dark"]
.footer-link-element{
    color: #fff ;
}
[data-theme="light"]
.footer-link-element{
    color: #000;
}