:root{
   --btn-font-color:#fff;
   --btn-background-color:#576ee0;
   --btn-background-color-on-hover:#435acb;
   --contact-input-background-color:#fff;
   --contact-input-border-color:#fff;
   --font-family:'Oxygen', sans-serif;
   --sidebar-link-color:#576ee0;
   --border-radius : 0.5rem;
   --transition :0.3s;
}

[data-theme="light"] {
   --font-color: #232429;
   --background-color: #fbfbfe;
   --link-color: #576ee0;
   --paragraph-font-color:#6a6d7c;
   --project-card-background-color:#fff;
   
}

[data-theme="dark"] {
   --home-footer-background-color:#0e101b;
   --paragraph-font-color:#babcc4;
   /* --link-color: lightblue; */
   --font-color: #f1f2f3;
   /* --background-color: #16213E; */
   --background-color: #161927;
   --project-card-background-color:#1d2135;
}

body {
   min-height: 100vh;
   box-sizing: border-box;
   width: 100%;
   margin: 0;
   overflow-x: hidden;
   font-family: var(--font-family);
   top: 0%;
   background-color: var(--background-color);
   transition: var(--transition);
}
/* width */
::-webkit-scrollbar {
   width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--btn-background-color);
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--btn-background-color-on-hover);
}

input:focus,
textarea:focus,
select:focus {
   outline: none;
   color:var(--paragraph-font-color);
}

.section-container {
   box-sizing: border-box;
   min-height: 100vh;
   position: relative;
   padding: 50px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
}

/* for small width screen */
@media only screen and (max-width: 640px) {
   .section-container {
      padding: 100px 0px;
   }
}

a {
   color: var(--link-color);
}

/* Custom Dark Mode Toggle Element */

.toggle-theme-wrapper {
   position: absolute;
   right: 20px;
   top: 25px;
   z-index: 1;
   margin: 0px;
   padding: 0px;
   border: none;
   background: transparent;
   cursor: pointer;
}

.toggle-theme-wrapper span {
   font-size: 28px;
   margin: 0 4px;
}

.toggle-theme {
   position: relative;
   display: inline-block;
   height: 34px;
   width: 60px;
}

.toggle-theme input {
   display: none;
}