body{
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
input:focus,
textarea:focus,
select:focus{
    outline: none;
}