[data-theme="light"] {
   --font-color: #000;
   --background-color: #f9fafb;
   --link-color: #1900ff;
}

[data-theme="dark"] {
   --font-color: #fb4c2d;
   --background-color: #1a1a1d;
   /* --link-color: lightblue; */
}

body {
   min-height: 100vh;
   box-sizing: border-box;
   width: 100%;
   margin: 0;
   overflow-x: hidden;
   font-family: "Poppins", sans-serif;
   top: 0%;
   background-color: var(--background-color);
}
/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #fffefe;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #9d9898;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

input:focus,
textarea:focus,
select:focus {
   outline: none;
}

.section-container {
   box-sizing: border-box;
   min-height: 100vh;
   position: relative;
   padding: 50px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
}

/* for small width screen */
@media only screen and (max-width: 640px) {
   .section-container {
      padding: 100px 0px;
   }
}

a {
   color: var(--link-color);
}

/* Custom Dark Mode Toggle Element */

.toggle-theme-wrapper {
   position: absolute;
   right: 20px;
   top: 25px;
   z-index: 1;
   margin: 0px;
   padding: 0px;
   border: none;
   background: transparent;
   cursor: pointer;
}

.toggle-theme-wrapper span {
   font-size: 28px;
   margin: 0 4px;
}

.toggle-theme {
   position: relative;
   display: inline-block;
   height: 34px;
   width: 60px;
}

.toggle-theme input {
   display: none;
}

/* .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  } */

/* .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  } */

/* input:checked + .slider:before {
    transform: translateX(26px);
  } */

/* input:checked + .slider {
    background-color: cornflowerblue;
  } */

/* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */
