.skill-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 80px 20%;
    padding: 20px 20px 20px 20px;
}


.skills-vector-frame{
     position: absolute;
     display: flex ;
     flex-direction: row-reverse;
     right: 0;
     bottom: 0%;
     z-index: -10;
     width: 80%;
}
.skills-vector{
    max-height: 100%;
    width: 100%;
}

.skill{
    display: flex;
    flex-direction: column;
    width: 122px;
    align-items: center;
    margin-bottom: 20px;
}

.skill >img {
    width: 63px;
    margin-bottom: -10px ;
    filter: drop-shadow(0 4px 4px rgba(0 , 0 , 0 , 0.25));
}

.skill > p{
    font-family: monospace;
    font-size: 20px;
    font-weight: normal ;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000;
}
