.about-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 80px 80px 80px;
}

.about-link-element {
    color: #000;
}

.about-main-left,
.about-main-right {
    width: 50%;
}

.about-main-right {
    display: flex;
    justify-content: flex-end;
}


.about-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-sub-head {
    margin: 0%;
}

.about-details {
    margin: 10px 0px 32px 0px;
}

.about-anime {
    width: 520px;
    max-width: 100%;
    max-height: 100%;
}


.vector-frame {
    position: absolute;
    z-index: -10;
    left: 0%;
    bottom: 0%;
    width: 55%;
}


.about-vector {
    display: block;
    max-height: 100%;
    max-width: 100%;
}


@media screen and (max-width:640px) {
    .vector-frame {
        width: 90%;
    }
}
