.about-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 80px 80px 80px;
}

/* .about-link-element {
    color: #000;
} */

.about-main-left,
.about-main-right {
    width: 50%;
}

.about-main-right {
    display: flex;
    justify-content: flex-end;
}


.about-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-sub-head {
    margin: 0%;
}

.about-details {
    margin: 10px 0px 32px 0px;
}

.about-anime {
    margin-right: -68px;
    width: 520px;
    max-width: 100%;
    max-height: 100%;
}
