.about-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px 80px 0px 80px;
}



.about-main-left,
.about-main-right {
	width: 50%;
}

.about-main-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.about-main-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-sub-head {
	margin: 0%;
	color: var(--paragraph-font-color);
	transition: var(--transition);
	padding: 20px 0px ;
}

.about-details {
	margin: 10px 0px 32px 0px;
}

.about-anime {
	margin-right: -68px;
	width: 520px;
	max-width: 100%;
	max-height: 100%;
}
@media only screen and (max-width: 700px) {
	.about-main {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0px;
	}

	.about-anime {
		margin: 0px;
	}
	.about-main-left {
		text-align: center;
	}
}



