* {
	margin: 0%;
	padding: 0%
}
.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2px 10%;
	min-height: 78vh;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-text > h1 {
	font-family: 'Poppins',sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 3em;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--font-color);
	margin: 10px;
}

[data-theme="light"] {
	color: black;
}

[data-theme="dark"] {
	color: #fff;
}
.frontName {
	font-family: "sacramento", cursive;
	font-size: 2rem;
}

.header-text > p {
    font-size: 1.125rem;
    font-family: Poppins ,sans-serif;
    font-style: normal;
    line-height: 13px;
    text-align: center;
    margin: 10px;
    color: var(--paragraph-font-color);
    font-weight: 500;
}

.head-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 3px 3px;
	padding: 5px 10px;
}

.btn {
	align-items: center;
	appearance: none;
	border-width: 0;
	box-sizing: border-box;
	display: inline-flex;
	height: 48px;
	justify-content: center;
	list-style: none;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	margin: 4px 12px;
    font-family: var(--font-family);
	color: var(--btn-font-color);
	border: none;
	font-style: normal;
	line-height: 16px;
	text-align: center;
	/* background: linear-gradient(39.97deg, #03d6f3, #458ff6 79.29%); */
	padding: 1rem;
	font-size: 18px;
	background: var( --btn-background-color);
	border-radius: var(--border-radius);
	font-weight: 500;
	min-width: 13rem;
	font-family: 'Poppins', sans-serif;
}

.btn:hover {
	transform: translateY(-2px);
	background: var(--btn-background-color-on-hover);
}

.btn:active {
	transform: translateY(2px);
}
.splash-img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-anime {
	border-radius: 15px;
	margin-bottom: -22px;
	width: 500px;
}
.resume-links {
	padding: 4px 6px;
	color: var(--btn-font-color);
	font-size: 1.5em;
	line-height: 30px;
	font-weight: 700;
}

.download-btn {
	margin-right: 4px;
	margin-left: 10px;
}
.preview-btn {
	margin-left: 4px;
}

/* for small height sizes screen */
@media only screen and (max-width: 414px) {
	.home-container {
		padding-top: 35px;
	}
}
@media only screen and (max-width: 800px) {
	.home-anime {
		width: 500px;
	}
}

@media only screen and (max-width: 690px) {
	.home-anime {
		width: 400px;
	}
}

@media only screen and (max-width: 645px) {
	.home-anime {
		width: 350px;
	}
	.btn {
		margin: 12px;
	}
}

/* for small width screen sizes */
@media only screen and (max-width: 527px) {
	.home-anime {
		width: 300px;
	}

	.header-text > h1 {
		font-size: 2em;
		line-height: 30px;
		font-weight: 700;
		margin: 17px 0px;
	}

	.header-text > p {
		font-weight: 600;
		font-size: 15px;
		line-height: 25px;
	}
}
