.contact-form-container {
   width: 50%;
   align-self: center;
   margin: 10px 0px;
}
.contact-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.input-box {
   background-color: var(--contact-input-background-color);
   width: 100%;
   border: 1px solid var(--contact-input-border-color);
   box-sizing: border-box;
   box-shadow: 0 2px 2px #00000040;
   border-radius: var(--border-radius) ;
   padding: 20px 35px;
   margin: 10px 0px;
   line-height: 12px;
   font-weight: 400;
}
.body-input {
   height: 250px;
   padding: 25px 35px;
}

.contact-btn {
   margin: 10px 0;
   color: var(--btn-font-color);
   border: none;
   font-style: normal;
   line-height: 16px;
   width: 100%;
   text-align: center;
   /* background: linear-gradient(39.97deg, #03d6f3, #458ff6 79.29%); */
   padding: 1rem;
   font-size: 18px;
	margin: 0px 12px;
	background: var( --btn-background-color);
   border-radius: var(--border-radius) ;
   font-weight: 500;
   font-family: var(--font-family);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.send-btn{
	color: var(--btn-font-color);
	font-size: 18px;
	line-height: 16px;
	font-weight: 700;
   margin-left: 12px;
   margin-top: 1px;
   text-align: center;
}
.contact-btn:hover{
   background: var( --btn-background-color-on-hover);
}
.social-icon-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.social-icon {
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin: 0px 6px;
   width: 40px;
}

.social-icon:hover,
.contact-btn:hover {
   filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.32));
   cursor: pointer;
   transition: all 0.3s;
}

@media only screen and (max-width: 500px) {
   .input-box {
      width: 300px;
   }
}
