.contact-form-container{
    width: 50%;
    align-self: center;
    margin: 70px 0px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box{
    background-color: #fff;
    width: 100%;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0 ,0 , 0 ,0.25);
    border-radius: 30px;
    padding: 20px 35px;
    margin: 10px 0px ;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}
.body-input {
    height: 250px;
    padding: 25px 35px;
}

.contact-btn{
    margin: 10px 0;
    color: #fff;
    border: none;
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    padding: 17px 35px;
    background: linear-gradient(39.97deg, #03d6f3,#458ff6 79.29%);
    border-radius: 35px;

}


.social-icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-icon{
    filter: drop-shadow(0px 4px 4px rgba(0 ,0 , 0 ,0.25));
    margin: 20px;
}

.social-icon:hover,
.contact-btn:hover{
    filter: drop-shadow(0px 8px 8px rgba(0,0,0,0.32));
    cursor: pointer;
    transition: all 0.3s;
}

.vector-frame{
    position: absolute;
    display: flex ;
    flex-direction: row-reverse;
    right: 0;
    bottom: 0%;
    z-index: -10;
    width: 80%;
}

.about-vetor{
    max-height: 100%;
    width: 100%;

}


