.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    align-self: center;

}

.header-container > h1 {
    font-style: normal;
    color: var(--font-color);
    font-weight: 500;
    font-size: 2.5em;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 0%;
    transition: var(--transition);
}

.header-container > p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    line-height: 1.4em;
    text-align: center;
    margin: 10px 0px;
    color: var(--paragraph-font-color);

}

@media only screen and (max-width:640px) {
    .header-container {
        width: 80%;
    }
}