.home-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* padding: 100px 10%; */
    min-height: 22vh;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    justify-content: space-evenly;
}

.left-footer{
    display: flex;
    flex-direction: column;
    flex-grow: 2;

}
.right-footer{
    align-self: center;
}

.my-name{
    font-family: 'monospace SemiBold';
    font-size: 35px;
    margin-bottom: 2px;

}
.my-details{
    font-size: 15px;
}



.social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}



.github, .linkedin{
        width: 30px;
        height: 30px;
        margin: 10px;
        background-color: #0f1726;
        border-radius: 17px;
}


.copyright{
    align-self: center;
}


