/* position and size our berger button */
.bm-menu-wrap {
	width: 200px !important;
}
.bm-burger-button {
	position: fixed;
	width: 30px;
	height: 20px;
	left: 1rem;
	top: 30px;
}

/* color to our burger button */
.bm-burger-bars {
	background-color: var(--btn-background-color);
}

/* color to our burger icon on hover */
.bm-burger-bars-hover {
	background-color: var(--btn-background-color-on-hover)!important;
}

/* size of the cross button */
.bm-cross-button {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 6px !important;
	top: 10px;
}


/* color of cross button */
.bm-cross {
	background-color: var(--btn-background-color) ;
}
.bm-cross-hover{
	background-color: var(--btn-background-color-on-hover);
}
/* sidebar  wrapper styles */
.bm-menu-wrap {
	position: fixed;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden !important;
	box-shadow: 0 4px 34px rgba(0 0 0 0.15);
}
.bm-menu{
	padding: 1.5em 0.5em 0 0;
	background:var(--background-color);
	height: 100vh;
	color: var(--font-color);
}

.bm-item-list {
	padding: 0.8em ;
	height: 0px !important;
}

.menu-item {
	position: relative;
	font-size: 2em;
	text-decoration: none;
	color: var(--font-color);
	padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}


.menu-item:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 0px;
	bottom: 0;
	left: 0;
	background-color: var(--font-color);
	visibility: hidden;
	transition: all 0.5s ease-in-out;
}

.active-item {
	font-weight: 500;
	color: var(--sidebar-link-color);
}

.menu-item:hover:before {
	visibility: visible;
	height: 3px;
}

@media only screen and (max-width: 767px) {
	.bm-menu {
		width: fit-content;
	}

	.bm-cross-button {
		right: 12px !important;
	}

	.bm-menu-wrap {
		width: fit-content !important;
	}
}
